section.faq-accordion
  h1.faq-accordion__title FAQs
  .faq-accordion__inner.container
    ul.faq-accordion__sections
      li.faq-accordion__section
        .faq-accordion__header.is-active
          span
            | What does the 14 Day Cooling Off Period mean?
        .faq-accordion__content.slide-down
          .faq-accordion__content-inner
            p
              | Essentially, if you decide for any reason whatsoever that you do not want the insurance after you’ve taken it out, if you contact us in writing within 14 days of taking out the policy and the policy hasn't started nor have you made a claim or intend to make a claim, we will refund your premium in full; no questions asked. If you cancel the policy after the 14 Day period has elapsed or have taken out Insurance whilst you are already travelling, no refund of premium is available.
      li.faq-accordion__section
        .faq-accordion__header
          span
            | What is a Policy Excess?
        .faq-accordion__content.slide-up
          .faq-accordion__content-inner
            p
              | This is basically the amount which will be deducted by the insurer against claims. So, for example, if you lost all your luggage and claimed back £500 and this was approved by the insurer, they would deduct £75 from that claim and you’d receive £425.
      li.faq-accordion__section
        .faq-accordion__header
          span
            | What does “indemnity value” mean if I need to claim for my baggage?
        .faq-accordion__content.slide-up
          .faq-accordion__content-inner
            p
              | Indemnity Value is an insurance term meaning that your belongings are depreciated due to wear, tear and age, which is fairly standard on travel policies. Your belongings are covered for accidental damage, loss or theft, but it doesn’t cover the fact your laptop may get a software error and need to be repaired, and it also doesn’t cover items which you don’t take care of. So never check in your fancy laptop into the hold on aircraft or buses, and don’t leave your belongings in the
            p
              | Our claims service has guidelines of the amount of depreciation that will be applied to baggage claims, which you can read by clicking
      li.faq-accordion__section
        .faq-accordion__header
          span
            | What does Personal Liability mean, and do I really need it?
        .faq-accordion__content.slide-up
          .faq-accordion__content-inner
            p
              | Essentially, this means you are covered for accidental injury, death or illness to another person, or accidental loss or damage to material property. To put this into context, here are two examples of each type.
            p
              | You are on an overland tour, and you pick up a pot of boiling water off the camp fire, realise it’s extremely hot and immediate drop it, but in the process of doing so you badly scold other travellers, which result in them becoming hospitalised and missing the rest of the trip. These other travellers will in all probability sue you for damages. That’s why you need cover for accidental injury.
            p
              | The other example is that you’ve checked into your hotel in Penang after a day on the beach, and you start running the bath. You then go out onto the balcony to gaze across the sea, have a Gin and Tonic, and slowly doze off to sleep. The bath carries on running, overpowers the overflow, goes all over the floor, seeps over the carpets, then seeps through the floor and damages the room below. The hotel is going to want payment for all the damage, and compensation for the fact that | | will have to take two rooms out of service whilst the damage is repaired.
            p
              | Note the Personal Liability cover will not cover you whilst driving a car, motorbike or any other type of machinery (for example Jet-Ski’s and the likes), as this will be covered by the relevant insurance for that, and nor will if cover you for taking part in any trade, business or profession.
