section.home-hero 
  .home-hero__inner
    h1.home-hero__headline
      | True Traveller Insurance
    p
      | Travel Insurance designed by travellers for Holidaymakers, Adventure Travellers and Backpackers.
  span.home-hero__background  
