section.main-information
  .main-information__inner
    .main-information__info
      p
        | When travelling overseas, the one thing you should never skimp on is your travel insurance cover, as should things go wrong you want the very best cover for you and your possessions.
      p
        | At The True Traveller, we’re used to advising people on travelling all around the world, and due to feedback from our customers we’ve changed our insurance website, made it even better value and extended the range of products.
      p
        | On Single Trips, we offer three Policies called True Value, Traveller and Traveller Plus. True Value is designed for travellers under 40 years of age, and is designed for last minute travellers and backpackers. The Traveller policy, our most popular, is designed for holiday makers and adventurous travellers alike, and Traveller Plus gives enhanced medical and cancellation cover.
      p
        | On our Annual Multi Trip Policies, again we offer the True Value and Traveller policy valid for unlimited trips throughout the year for durations up to 30 days, and the Traveller Plus policy which offers enhanced cover for unlimited trips lasting up to 70 days.
      p
        | We've tried to get the prices as keen as possible on all our insurances. This means on the Single Trip and Annual Multi-Trip you have the option to exclude Baggage Cover as this may well be covered in your Home Contents insurance; you also have the option to add-in different activity packs. The Traveller Pack covers 92 of the regular holiday activities which you will get involved in, and covers clerical/non-manual work if you’re going to be working on your trip. The Adventure Pack covers a further 41 activities and is designed for the more adventurous traveller and backpacker, covering trekking to 4,500m, as well as volunteer work and some manual work. We also have our Extreme and Ultimate Activity packs. The Extreme Pack covers trekking to unlimited altitudes, rugby and potholing amongst many other activities, and the Ultimate Pack covers everything in every pack as well as Ice Climbing, Parachuting, Hang Gliding; even Powerbocking!
      p
        | The True Traveller was originally a travel company, not an insurance company, and although we believe we’ve designed the best value insurance we possibly can, we understand that the price of insurance does put people off taking it out to start with. Our maxim is, if you can’t afford travel insurance, you can’t afford to travel.
    .main-information__four-cover
      a(href="#").main-information__cover-type
        .main-information__cover-inner
          i.ic-checkmark
          span
            | Optional baggage cover
      a(href="#").main-information__cover-type
        .main-information__cover-inner
          i.ic-checkmark
          span
            | One-way travel insurance
      a(href="#").main-information__cover-type
        .main-information__cover-inner
          i.ic-checkmark
          span
            | Road and gadget cover
      a(href="#").main-information__cover-type
        .main-information__cover-inner
          i.ic-checkmark
          span
            | Activity and high risk cover
      
