section.selling-points
  .selling-points__inner
    .selling-points__point
      i.ic-checkmark
      p.selling-points__text
        | Rated 5 Star
        br
        | on TrustPilot
    .selling-points__point
      i.ic-checkmark
      p.selling-points__text
        | Designed by
        br
        | True Travellers  
    .selling-points__point
      i.ic-checkmark
      p.selling-points__text
        | Available if 
        br 
        | you’re already abroad
    .selling-points__point
      i.ic-checkmark
      p.selling-points__text
        | Single and 
        br
        | multi-trip cover
  
  
