footer {
  margin-top: auto;
  padding: 5em 2.5em;
  background: $gray-light;
}

.footer__inner {
  max-width: 75em;
  margin: 0 auto;
  @include min-custom-breakpoint('575px') {

  }
  @include min-custom-breakpoint('1025px') {

  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  @include min-custom-breakpoint('575px') {
    flex-direction: row;
  }
}

.footer__links-column {
  display: flex;
  flex-wrap: wrap;
  &:nth-child(1) {
    width: 100%;
    @include min-custom-breakpoint('575px') {
      width: 40%;
    }
    .footer__links-column-inner {
      padding-right: 6.875em;
    }
  }
  &:nth-child(2) {
    width: 100%;
    @include min-custom-breakpoint('575px') {
      width: 22.5%;
    }
  }
  &:nth-child(3) {
    width: 100%;
    @include min-custom-breakpoint('575px') {
      width: 22.5%;
    }
  }
  &:nth-child(4) {
    width: 100%;
    @include min-custom-breakpoint('575px') {
      width: 15%;
    }
  }
}

.footer__links-column-inner {
  li {
    padding: .3125em 0;
  }
}

.footer__internal-link {
  color: $gray-dark;
  font-size: .875em;
  font-weight: 300;
  padding: 10px 0;
  transition: all .3s linear;
  &:hover {
    color: $orange-dark;
  }
}

.footer__links-column-title {
  width: 100%;
  font-size: 1.5625em;
  padding-bottom: .4em;
}

.footer__links-social-links {
  margin-top: auto;
  margin-left: auto;
  font-size: 1.5625em;
  i {
    color: $orange-dark;
    padding: 0 .5em;
    transition: all .3s linear;
    &:hover {
      color: $gray-dark;
    }
  }
  a {
    span {
      @extend .move-off-screen;
    }
  }
}
