// build:js js/main.min.js async
script(type='text/javascript', src="../node_modules/in-view/dist/in-view.min.js", defer)
//script(type='text/javascript', src='js/main.min.js')
script(type='text/javascript', src='js/main.js', defer)
script(type='text/javascript', src="../node_modules/moment/min/moment.min.js", defer)
script(type='text/javascript', src="../node_modules/@glidejs/glide/dist/glide.min.js", defer)
script(type='text/javascript', src="../node_modules/blazy/blazy.min.js", defer)
//script(type='text/javascript', src="../node_modules/gmaps/gmaps.min.js", defer)
// endbuild
