/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary-color:                 #1f3971;
$light:                         #fff;
$gray-light:                    #f8f8f8;
$gray:                          #a8b9c2;
$gray-dark:                     #3A464E;
$dark-light:                    #262F31;
$dark-lighter:                  #2d3a3c;
$dark:                          #1d1d1d;
$orange:                        #ff7043;
$orange-dark:                   #ff5722;
$brown:                         #8B2F18;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-roboto:                   'Roboto';
$font-pt-serif:                 'PT Serif';
$font-open-sans:                'Open Sans';

$font-body:                     $font-open-sans, sans-serif;
$font-title:                    $font-open-sans, sans-serif;


/* Width page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$width-page:                    116.8rem;


/* Breakpoint
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$break-l:                       102.5rem; //1025px
$break-m:                       99.2rem; //992px
$break-sm:                      76.8rem; //768px
$break-s:                       48rem; //480px


/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-light:             300;
$font-weight-regular:           400;
$font-weight-semi-bold:         600;
$font-weight-bold:              700;
$font-weight-default:           $font-weight-regular;


/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-default:             1.6rem;


/* Gutter
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$gutter:                        1.5rem;


/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1:                        cubic-bezier(0.19, 1, 0.22, 1);
$cubic2:                        cubic-bezier(.48, .48, .57, .57);
$cubic3:                        cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4:                        cubic-bezier(0.4, 0, 0.2, 1);
