extends layout/_layout
block content
  include ./components/_loader.pug
  include ./components/_header.pug
  include ./components/_mobile-menu.pug
  include ./components/_quote-form.pug
  main
    include ./components/_home-hero.pug
    include ./components/_selling-points.pug
    include ./components/_main-information.pug
    include ./components/_slider.pug
    include ./components/_insurance-types.pug
    include ./components/_location.pug
    include ./components/_accordion.pug
          
  include ./components/_footer.pug
  
  
  
  
  
  
  
  
  
  
  
